<header class="bg-white doc-header">
    <div class="head-contact clearfix">
        <div class="container">
            <app-custom></app-custom>
        </div>
    </div>


    <nav id="sticktop">
        <div class="container">

            <a href="index.html" class="text-left logo"><img src="assets/demo-data/logo.png" alt=""></a>
            <ul class="socials">
                <li><a href="#" class="fb"><i class="fa fa-facebook-f"></i></a></li>
                <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
            </ul>
            <a href="#" class="nav-triger"><span class="fa fa-navicon"></span></a>
            <app-menu></app-menu>
        </div>
    </nav>
</header>