<footer class="bg-white pt-35">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 mt-40">
                <h6 class="text-bold text-uppercase after-left-s pb-20 mb-20">ABOUT CLINIX</h6>
                <p>With two clinics specializing in the care for our patients’ total health and well being our doctors are able to create life long relationships.</p>
            </div>

            <div class="col-sm-3 mt-40 tags">
                <h6 class="text-bold text-uppercase after-left-s pb-20 mb-20">Tags</h6>
                <a href="#">care</a>
                <a href="#">clinix</a> 
                <a href="#">doctor</a>
                <a href="#">heart</a> 
                <a href="#">medicine</a>
                <a href="#">treatment</a>
            </div>

            <div class="col-sm-3 mt-40 recent-posts">
                <h6 class="text-bold text-uppercase after-left-s pb-20 mb-20">Recent posts</h6>
                <ul>
                    <li><a href="#">Doctor and Patient Doctors as Advocates for Family Leave</a></li>
                    <li><a href="#">Graphene’s Prospects in Biosensing Just Got a Boost</a></li>
                    <li><a href="#">Your Phone Can Tell Whether You’re Depressed</a></li>
                </ul>
            </div>
            <div class="col-sm-3 mt-40">
                <h6 class="text-bold text-uppercase after-left-s pb-20 mb-20">from flicker</h6>  
                <ul id="flicker-feed" class="custom_flickr" data-limit="6" data-userID="52617155@N08"></ul>
            </div>
        </div>
        <div class="rights mt-60 pt-15 pb-10">
            Made by <a href="">Alain Kouame</a> &copy;
        </div>
    </div>
</footer>
