<ul class="main-menu">
    <li class="active"><a routerLink="/home">Home</a></li>
    <li><a href="">Team</a></li>
    <li><a href="">About Us</a></li>
    <li><a href="">Blog</a></li>
    <li><a href="">Shop</a></li>
    <li class="parent"><a href="#">Pages</a>
        <ul>
            <li><a href="">Home2</a></li>
            <li><a href="">Blog Single</a></li>
            <li><a href="">Cart Page</a></li>
            <li><a href="">Checkout</a></li>
            <li><a href="">Product Detial</a></li>
        </ul>
    </li>
    <li><a href="contact-us.html">Contact</a></li>
</ul>
