<section class="custom-slider no-pad">
    <div id="home-slider" class="xv_slider flexslider">
        <ul class="slides">
            <li class="xv_slide" data-slideBg="url(assets/demo-data/slider1.png)" >
                <div class="flex-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-offset-7 col-md-5 col-sm-6 col-sm-offset-6">
                                <h3 class="mb-25 text-uppercase color-blue text-bold after-left-l pb-30 animated fadeInLeft">
                                    Expert doctors
                                </h3>
                                <p class="animated fadeInRight">We are proud to be one of Whistler’s oldest and most respected medical practices. we are open <strong>7 days a week</strong> </p>
                                <a href="#" class="btn animated fadeInUp">Take Appoitments</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="xv_slide" data-slideBg="url(assets/demo-data/slider2.png)" >
                <div class="flex-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-offset-7 col-md-5 col-sm-6 col-sm-offset-6">
                                <h3 class="mb-25 text-uppercase color-blue text-bold after-left-l pb-30 animated fadeInLeft">
                                    Expert doctors
                                </h3>
                                <p class="animated fadeInRight">We are proud to be one of Whistler’s oldest and most respected medical practices. we are open <strong>7 days a week</strong> </p>
                                <a href="#" class="btn animated fadeInUp">Take Appoitments</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="xv_slide" data-slideBg="url(assets/demo-data/slider3.jpg)" >

            </li>
        </ul>
    </div>
</section>