<!--========================================
Body Content
===========================================-->
<div class="offsetWrap">
    <app-header></app-header>
    <div class="offsetMaker">  
         <app-slide></app-slide>
        <app-offers></app-offers>
        <section class="clearfix animatedParent">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-6">
                        <h3 class="text-bold after-left-l pb-25 mb-55">About Us</h3>
                        <p>Through preventative health care, exercise/diet programs, and regular examinations, our staff can help you enjoy a lifetime of good health.</p>
                        <p>With two clinics specializing in the care for our patients’ total health and well being our doctors are able to create life long relationships. Having the whole picture lets your doctor know what your needs are with your current health while also being prepared for any future medical needs.</p><br>
                        <p>Through preventative health care, exercise/diet programs, and regular examinations, our staff can help you enjoy a lifetime of good health.</p>
                        <a href="#" class="btn mt-25">Read More</a>
                    </div>
                    <div class="col-md-5 col-sm-6 schedules">
                        <h3 class="text-bold after-left-l pb-25 mb-55 ls-5">SCHEDULE</h3>

                        <div class="schedule bg-blue1 radius-top color-white clearfix">
                            <h6 class="text-uppercase text-bold pull-left"><img src="assets/demo-data/i6.png" class="pull-left" alt="/"><span class="pad">SCHEDULE <br> TITLE</span></h6>
                            <div class="pull-right text-center">
                                <strong>MON - WED</strong><br>
                                10:00 AM -7:00 PM
                            </div>
                        </div>
                        <div class="schedule bg-blue2 color-white clearfix">
                            <h6 class="text-uppercase text-bold pull-left"><img src="assets/demo-data/i5.png" class="pull-left" alt="/"><span class="pad">SCHEDULE <br> TITLE</span></h6>
                            <div class="pull-right text-center">
                                <strong>MON - WED</strong><br>
                                10:00 AM -7:00 PM
                            </div>
                        </div>
                        <div class="schedule bg-blue3 color-white clearfix">
                            <h6 class="text-uppercase text-bold pull-left"><img src="assets/demo-data/i4.png" class="pull-left" alt="/"><span class="pad">SCHEDULE <br> TITLE</span></h6>
                            <div class="pull-right text-center">
                                <strong>MON - WED</strong><br>
                                10:00 AM -7:00 PM
                            </div>
                        </div>
                        <div class="schedule bg-blue4 radius-bottom color-white clearfix">
                            <h6 class="text-uppercase text-bold pull-left"><img src="assets/demo-data/i3.png" class="pull-left" alt="/"><span class="pad">SCHEDULE <br> TITLE</span></h6>
                            <div class="pull-right text-center">
                                <strong>MON - WED</strong><br>
                                10:00 AM -7:00 PM
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="clearfix features text-center animatedParent">
            <div class="container">
                <h2 class="text-bold text-uppercase color-blue after-mid-l pb-25">
                    WHAT WE DO
                </h2>
                <div class="row">
                    <div class="col-sm-4 mt-70 animated fadeInLeft go">
                        <figure><img src="assets/demo-data/child.jpg" alt="/"></figure>
                        <h5 class="text-bold color-blue">CHILD CARE</h5>
                        <p>We provide special child care service from age 3 to 11 and also provide play room for kids.</p>
                        
                    </div>
                    
                    <div class="col-sm-4 mt-70 animated fadeInLeft go">
                        <figure><img src="assets/demo-data/child1.jpg" alt="/"></figure>
                        <h5 class="text-bold color-blue">TOOTH CARE</h5>
                        <p>Our clinic have some special equipments for eye testing and recommeing best glasses for you.</p>
                    </div>
                    <div class="col-sm-4 mt-70 animated fadeInLeft go">
                        <figure><img src="assets/demo-data/child3.jpg" alt="/"></figure>
                        <h5 class="text-bold color-blue">EYE TEST</h5>
                        <p>We provide special child care service from age 3 to 11 and also provide play room for kids.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="clearfix reviews animatedParent">
            <div class="container">
                <h3 class="text-bold text-uppercase after-left-l pb-25">PATIENT REVIEWS</h3>
                <div class="row">
                    <div class="col-sm-4 mt-50 animated fadeInLeft go">
                        <div class="review">
                        <figure><img src="assets/demo-data/t1.png" alt="/"></figure>
                        <h5 class="text-bold color-blue">Sara says...</h5>
                        <p>It was the smoothest implementation process I have ever been through. With Higher One’s process and schedule.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 mt-50 animated fadeInLeft go">
                        <div class="review">
                        <figure><img src="assets/demo-data/t2.jpg" alt="/"></figure>
                        <h5 class="text-bold color-blue">Mike says...</h5>
                        <p>It was the smoothest implementation process I have ever been through. With Higher One’s process and schedule.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 mt-50 animated fadeInLeft go">
                        <div class="review">
                        <figure><img src="assets/demo-data/t3.jpg" alt="/"></figure>
                        <h5 class="text-bold color-blue">Emma says...</h5>
                        <p>It was the smoothest implementation process I have ever been through. With Higher One’s process and schedule.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="clearfix bg-white our-doctors animatedParent">
            <div class="container">
                <h3 class="text-bold text-center text-uppercase after-mid-l pb-25">OUR DOCTORS</h3>
                <p class="text-center mt-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                <div class="row color-white">
                    <div class="col-sm-3 mt-50 no-pad doctor style1 bg-blue1 animated fadeInLeft go">
                        <figure><img src="assets/demo-data/dm.jpg" alt="/"></figure>
                        <div class="info">
                        <h6 class="text-bold text-uppercase after-left-s pb-20">Sara Doe</h6>
                        <p>Tooth Specialist</p>
                        </div>
                    </div>
                    <div class="col-sm-3 mt-50 no-pad doctor style2 bg-blue2 animated fadeInLeft go">
                        <div class="info">
                        <h6 class="text-bold text-uppercase after-left-s pb-20">John Doe</h6>
                        <p>Heart Specialist</p>
                        </div>
                        <figure><img src="assets/demo-data/d12.jpg" alt="/"></figure>
                    </div>
                    <div class="col-sm-3 mt-50 no-pad doctor style1 bg-blue3 animated fadeInLeft go">
                        <figure><img src="assets/demo-data/d22.jpg" alt="/"></figure>
                        <div class="info">
                        <h6 class="text-bold text-uppercase after-left-s pb-20">Umar Doe</h6>
                        <p>Eye Specialist</p>
                        </div>
                    </div>
                    <div class="col-sm-3 mt-50 no-pad doctor style2 bg-blue4 animated fadeInLeft go">
                        <div class="info">
                        <h6 class="text-bold text-uppercase after-left-s pb-20">Emma Doe</h6>
                        <p>Child Specialist</p>
                        </div>
                        <figure><img src="assets/demo-data/dr.jpg" alt="/"></figure>
                    </div>
                </div>
            </div>
        </section>

        <section class="our-posts">
            <div class="container">
                <h3 class="text-bold text-uppercase after-mid-l pb-25 text-center">PATIENT REVIEWS</h3>
                <p class="text-center">Stay up to date with all our latest news and launches.</p>
                <div class="row">
                    <div class="col-sm-4 mt-70">
                        <div class="post bg-white">
                            <figure><img src="assets/demo-data/962892_orig-480x340.jpg" alt="/"></figure>
                            <div class="pad">
                            <a href="#" class="title text-bold">Doctor and Patient Doctors as Advocates for Family Leave</a>
                            <ul>
                                <li><i class="fa fa-clock-o"></i>May 9, 2015</li>
                                <li><i class="fa fa-user"></i><a href="#">Mike</a></li>
                                <li><i class="fa fa-folder-open-o"></i><a href="#">Treatment</a></li>
                            </ul>
                            <a href="#" class="btn">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 mt-70">
                        <div class="post bg-white">
                            <figure><img src="assets/demo-data/bg-001-480x340.png" alt="/"></figure>
                            <div class="pad">
                            <a href="#" class="title text-bold">Graphene’s Prospects in Biosensing Just Got a Boost</a>
                            <ul>
                                <li><i class="fa fa-clock-o"></i>May 9, 2015</li>
                                <li><i class="fa fa-user"></i><a href="#">Mike</a></li>
                                <li><i class="fa fa-folder-open-o"></i><a href="#">Treatment</a></li>
                            </ul>
                            <a href="#" class="btn">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 mt-70">
                        <div class="post bg-white">
                            <figure><img src="assets/demo-data/doctor-compressor-480x340.jpg" alt="/"></figure>
                            <div class="pad">
                            <a href="#" class="title text-bold">Your Phone Can Tell Whether You’re Depressed</a>
                            <ul>
                                <li><i class="fa fa-clock-o"></i>May 9, 2015</li>
                                <li><i class="fa fa-user"></i><a href="#">Mike</a></li>
                                <li><i class="fa fa-folder-open-o"></i><a href="#">Treatment</a></li>
                            </ul>
                            <a href="#" class="btn">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="promo bg-blue4 color-white clearfix pt-40 pb-40">
            <div class="container">
                <span class="text-bold text-uppercase">WHAT ARE YOU WAITING FOR</span>
                <a href="#" class="btn">Read More</a>
            </div>
        </div>

       <app-footer></app-footer>
    </div>
    
</div>


