<!-- The Modal -->
<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" id="myModal">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">ACTE MEDICAL</h4>
        <button type="button" (click)="closeModal()" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="modal-row">
          <div class="acte-medical">
            <h3>Symptomes</h3>
            <textarea>
              
            </textarea>
            <div class='modal-btn-zone'>
              <button type="button" class="btn btn-primary">Ajouter</button>
              <button type="button" class="btn btn-danger">Supprimer</button>
            </div>
          </div>
          <div class="acte-medical">
            <h3>Symptomes</h3>
            <textarea></textarea>
            <div class='modal-btn-zone'>
            <button type="button" class="btn btn-primary">Ajouter</button>
            <button type="button" class="btn btn-danger">Supprimer</button>
          </div>
          </div>
          <div class="acte-medical">
            <h3>Symptomes</h3>
            <textarea></textarea>
            <div class='modal-btn-zone'>
            <button type="button" class="btn btn-primary">Ajouter</button>
            <button type="button" class="btn btn-danger">Supprimer</button>
          </div>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer footer-zone">
        <div class=>
          <button type="button" (click)="closeModal()" class="btn btn-danger" data-bs-dismiss="modal"
            id="btn-quitter">Quitter</button>
        </div>
      </div>

    </div>
  </div>
</div>