<nav id="sticktop">
    <div class="container">
    </div>
</nav>
<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1 ms-4">
                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                                <form class="mx-1 mx-md-4" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                                    <div class="form-group">
                                        <input type = "text" formControlName ="id" hidden/>
                                    </div>

                                    <div class="form-group">
                                        <input type = "text" formControlName ="address" />
                                    </div>
                                    <div class="form-group">
                                        <div class=" icon-element d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-user fa-lg me-3 fa-fw icon-color"></i>
                                            <input type="text" id="" formControlName="name"
                                                class="form-control format-text" placeholder="Your Name"
                                                [ngClass]="{'is-invalid': submitted && f['name'].errors}" />
                                        </div>
                                        <div *ngIf="submitted && f['name'].errors"
                                            class="alert-message">
                                            
                                            <div *ngIf="f['name'].errors['required']">
                                                *Please enter your name
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div class=" icon-element d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-envelope fa-lg me-3 fa-fw icon-color"></i>
                                            <input type="email" id="" formControlName="email"
                                                class="form-control format-text" placeholder="Your Email"
                                                [ngClass]="{'is-invalid': submitted && f['email'].errors}" />
                                        </div>
                                        <div *ngIf="submitted && f['email'].errors"
                                        class="alert-message">
                                        <div *ngIf="f['email'].errors['required']">
                                            *Please enter your email
                                        </div>
                                        <div *ngIf="f['email'].errors['email']">
                                            *Email is invalid
                                    </div>
                                    </div>

                                    </div>
                                    <div class="form-group">
                                        <div class=" icon-element d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-lock fa-lg me-3 fa-fw icon-color"></i>
                                            <input type="password" id="" formControlName="password"
                                                class="form-control format-text" placeholder="Password"
                                                [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
                                                />
                                        </div>

                                        <div *ngIf="submitted && f['password'].errors"
                                        class="alert-message">
                                        <div *ngIf="f['password'].errors['required']">
                                            *Please enter your password
                                        </div>
                                        <div *ngIf="f['password'].errors['minlength']">
                                            Password must be at least 8 characters
                                        </div>
                                        <div *ngIf="f['password'].errors['maxlength']">
                                            Password must not exceed 20 characters
                                        </div>
                                       
                                    </div>
                                    </div>
                                    <div class="form-group">
                                    <div class=" icon-element d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw icon-color"></i>
                                        <input type="password" id="" class="form-control format-text"
                                            formControlName="repeatPassword" placeholder="Repeat your password" 
                                            [ngClass]="{ 'is-invalid': submitted && f['repeatPassword'].errors }"/>
                                    </div>
                                    <div *ngIf="submitted && f['repeatPassword'].errors"
                                        class="alert-message">
                                        <div *ngIf="f['repeatPassword'].errors['required']">  
                                            *Please confirm your password
                                        </div>
                                        <div *ngIf="f['repeatPassword'].errors['matching']">
                                            Confirm Password does not match
                                        </div>
                                      
                                    </div>
                                </div>
                                  <div class="form-group">
                                    <div class="icon-element d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-phone fa-lg me-3 fa-fw icon-color"></i>
                                        <input type="tel" id="" class="form-control format-text"  pattern="[0-9]{2} [0-9]{2} [0-9]{2} [0-9]{2} [0-9]{2}"
                                            formControlName="phoneNumber" placeholder="Phone number (xx xx xx xx xx)" 
                                            [ngClass]="{ 'is-invalid': submitted && f['phoneNumber'].errors }"/>
                                    </div>
                                    <div *ngIf="submitted && f['phoneNumber'].errors"
                                        class="alert-message">
                                        <div *ngIf="f['phoneNumber'].errors['required']">
                                            *Please enter your phone number
                                        </div>
                                        <div *ngIf="f['phoneNumber'].errors['minlength']">
                                            Phone Number must be at least 10 characters
                                        </div>

                                        <div *ngIf="f['phoneNumber'].errors['maxlength']">
                                            Username must not exceed 15 characters
                                        </div>
                                       
                                    </div>
                                </div>
                                    <div class="form-group">
                                    <i class="fas fa-user-md icon-color"></i>
                                    
                                    <select class="custom-select mb-4 format-text mt-4 w-75"
                                        (change)="changeStatement($event)" formControlName="statement">
                                        <option value="">Choose your statement</option>
                                        <option *ngFor="let statement of statements" [ngValue]="statement">{{statement}}
                                        </option>
                                    </select>
                                    <div *ngIf="submitted && f['statement'].errors"
                                    class="alert-message">
                                    <div *ngIf="">
                                    </div>
                                    *Please select your statement
                                </div>
                                </div>

                                    <div class="form-check d-flex justify-content-center mb-5">
                                        <input class="form-check-input me-2" type="checkbox"
                                            id="form2Example3c" (change)="onCheckboxChange($event)" formControlName="acceptTerm" />
                                        <label class="account-link format-aggrement" for="form2Example3">
                                            I agree all statements in <a routerLink="/home">Terms of service</a>
                                        </label>

                                    </div>
                                    <div class="form-check d-flex justify-content-center mb-5">
                                        <label>
                                            <a class="account-link btn btn-primary btn-lg" routerLink="/login"> Connect
                                                your account</a>
                                        </label>
                                    
                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button type="submit"  class="btn btn-primary btn-lg">Register</button>
                                    </div>
                                </div>
                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>