<section class="">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 service no-pad style1 bg-blue1">
                <h6 class="text-uppercase text-bold after-left-s pb-45 mb-15"><img src="assets/demo-data/i6.png" class="pull-left" alt="/"><span class="pad">HEART<br> SPECIALIST</span></h6>
                <p>We have talented heart specialist doctors.</p>
            </div>
            <div class="col-md-3 col-sm-6 service no-pad style2 bg-blue2">
                <h6 class="text-uppercase text-bold after-left-s pb-45 mb-15"><img src="assets/demo-data/i2.png" class="pull-left" alt="/"><span class="pad">CHILD<br> SPECIALIST</span></h6>
                <p>Child care specialist are available 7 days in a week.</p>
            </div>
            <div class="col-md-3 col-sm-6 service no-pad style3 bg-blue3">
                <h6 class="text-uppercase text-bold after-left-s pb-45 mb-15"><img src="assets/demo-data/i1.png" class="pull-left" alt="/"><span class="pad">DNA<br> LABORATORY</span></h6>
                <p>Let us take care of your eyes with new technology.</p>
            </div>
            <div class="col-md-3 col-sm-6 service no-pad style4 bg-blue4">
                <h6 class="text-uppercase text-bold after-left-s pb-45 mb-15"><img src="assets/demo-data/i3.png" class="pull-left" alt="/"><span class="pad">TOOTH<br> SPECIALIST</span></h6>
                <p>Let us take care of your eyes with new technology.</p>
            </div>
        </div>
    </div>
</section>